/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* body */
body {
    background-color: #e8d9bf;
    color: #4f260b;
}

/* ヘッダー */
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.1% 0 2.91%;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: auto;
    padding-top: 10px;
}

.logo {
    width: 226.7px;
}

.pc_nav ul {
    display: flex;
    justify-content: space-between;
}
.pc_nav li {
    display: flex;
    color: #ffffff;
    font-family: "游ゴシック", "YuGothic", "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "sans-serif";
    font-weight: bold;
    width: 104px;
    margin-right: 55px;
    font-size: 18px;
}
.pc_nav li:last-child {
    margin-right: 0;
}
.slider img {
    width: 100%;
}

.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}

/* 見出し */
.top {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    margin: 110px auto 7.5px auto;
    max-width: 1000px;
}

.top-content h2 {
    max-width: 1000px;
    font-size: 82px;
    line-height: 1.17;
    font-weight: lighter;
}
.top-content p {
    font-size: 30px;
    margin: 0 0 57px;
}
.top-content p:last-child {
    font-size: 23px;
    margin: 23px 0 100px 0;
    line-height: 1.652;
}
.top-br {
    display: none;
}

/* ABOUT US */
.about-container {
    max-width: 1000px;
    margin: auto;
    margin-bottom: 77px;
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
}
.about-img {
    width: 50%;
}
.about-img img {
    border-bottom-right-radius: 60px;
    width: 100%;
    align-self: flex-start;
}
.about-title {
    display: none;
}
.about-content {
    width: 40%;
}
.about-content p {
    text-align: justify;
    line-height: 1.625;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
}
.about-content img {
    margin-top: 50px;
    max-width: 272px;
}
.about-content h3 {
    font-size: 44px;
    text-align: justify;
    line-height: 1.386;
    font-weight: bolder;
    margin: 50px 0 35px 0;
}

/* MENU */
.menu-top {
    max-width: 1000px;
    margin: auto;
}
.menu-title {
    margin: 43px auto 43px auto;
    width: 151px;
}
.menu-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
    padding: 0 10px 0 10px;
}
.menu {
    width: 30%;
}
.menu h3 {
    color: #4f260b;
    font-size: 38px;
    margin-top: -16px;
    margin-bottom: 8px;
    margin-left: 10px;
}
.menu p {
    text-align: justify;
    line-height: 1.47;
    font-size: 15px;
    padding: 0 10px 0 0;
}
.menu img {
    border-top-right-radius: 30px;
}

/* GALLERY */

.gallery-title h3 {
    margin: 26px auto 26px auto;
    text-align: center;
    width: 245px;
}
.gallery-image {
    display: flex;
    justify-content: center;
}
.gallery-image img {
    width: 20%;
}

/* EVENT */
.event-top {
    margin: auto;
    max-width: 1000px;
    padding: 0 10px 0 10px;
}

.event-title {
    margin: 39px auto 39px auto;
    text-align: center;
    width: 173px;
}

.event-container {
    background-color: #fff;
    border: 3px solid #000;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 30px 0;
}
.event-container li {
    line-height: 1.957;
    padding: 10px 0 0 160px;
    font-size: 23px;
}
.event-container br {
    display: none;
}
.event-text {
    border-bottom: 1px solid #4f260b;
    margin-left: 40px;
}

/* ACCESS */
.access-title {
    margin: 40px auto 40px auto;
    text-align: center;
    max-width: 213px;
}
.access-map {
    width: 100%;
    height: 360px;
    border: 0;
    margin-bottom: -3px;
}

/* footer */
footer {
    background-color: #fff;
    padding: 0 10px 0 10px;
}
.footer-container {
    display: flex;
    justify-content: flex-start;
    max-width: 1000px;
    margin: auto;
    padding: 75px 0 75px 0;
}
.footer-logo {
    width: 226px;
}
.footer-nav {
    margin-left: 60px;
}
.footer-nav p {
    font-size: 20px;
    line-height: 1.95;
    color: #000;
}

.copyright {
    text-align: center;
    padding-bottom: 80px;
}
/* page-top */
.to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 125px;
}

@media screen and (max-width: 1100px) {
    /* ハンバーガー */
    .pc_nav {
        display: none;
    }
    .sp_btn {
        display: block;
        position: absolute;
        top: 40px;
        right: 10px;
        height: 30px;
        cursor: pointer;
        z-index: 100;
    }
    /* ハンバーガー3本線 */
    .sp_btn span {
        width: 33px;
        height: 3px;
        background: #fff;
        display: block;
        position: relative;
        top: 10px;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        width: 33px;
        height: 3px;
        background: #fff;
        display: block;
        position: absolute;
        transition: 0.3s;
    }
    .sp_btn span:before {
        bottom: 10px;
    }
    .sp_btn span:after {
        top: 10px;
    }

    .open span {
        background: transparent;
    }
    .open span:before {
        transform: rotate(45deg);

        bottom: 0px;
    }
    .open span:after {
        top: 0px;
        transform: rotate(135deg);
    }

    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: rgba(000, 000, 000, 0.8);
    }
    .sp_nav ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .sp_nav li {
        font-size: 5vw;
        border-bottom: 1px solid #eee;
        padding: 10px;
        color: #fff;
        text-align: center;
        font-family: "游ゴシック", "YuGothic", "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "sans-serif";
    }

    /* ABOUT US */
    .about-content img {
        margin-top: 0px;
    }
    .about-content h3 {
        font-size: 4vw;
        margin: 3% 0 2% 0;
    }

    /* MENU */

    /* GALLERY */

    /* EVENT */

    .event-container br {
        display: block;
    }
    .event-container span {
        margin: 0;
    }

    /* ACCESS */

    /* FOOTER */
}

@media screen and (max-width: 767px) {
    /* header */
    .header_wrap {
        padding-top: 30px;
    }
    .logo {
        width: 60%;
    }
    /* TOP */
    .top {
        margin: 60px auto 60px auto;
    }

    .top-content h2 {
        font-size: 10.1vw;
    }
    .top-content p {
        font-size: 4.5vw;
        margin: 0 0 23px;
    }
    .top-content p:last-child {
        font-size: 4.27vw;
        margin: 20px 0 0 0;
    }
    .top-br {
        display: block;
    }

    /* ABOUT US */
    .about-container {
        margin-bottom: 51px;
        display: block;
        padding: 0;
    }
    .about-title {
        display: block;
        margin: auto;
        width: 42.7vw;
        margin-bottom: 18px;
    }

    .about-img {
        width: 100%;
    }
    .about-content {
        width: 100%;
    }
    .about-content img {
        display: none;
    }
    .about-content p {
        padding-right: 3%;
        padding-left: 3%;
        font-size: 4.5vw;
    }
    .about-content h3 {
        font-size: 9.6vw;
        margin: 36px 0 30px 0;
        padding-left: 3%;
    }

    /* MENU */

    .menu-title {
        width: 23.2vw;
    }
    .menu-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
        padding: 0 9.3% 0 9.3%;
    }
    .menu {
        width: 100%;
        margin-bottom: 56px;
    }
    .menu h3 {
        font-size: 10.6vw;
        margin-bottom: 21px;
    }
    .menu p {
        font-size: 4.67vw;
        padding: 0;
    }
    .menu img {
        width: 100%;
    }

    /* GALLERY */

    .gallery-title h3 {
        margin: 0 auto 20px auto;
        width: 37.9vw;
    }

    /* EVENT */
    .event-top {
        margin: 0 0 31px 0;
        padding: 0 3% 0 3%;
    }
    .event-title {
        margin: 33px auto 19px auto;
        width: 26.7vw;
    }

    .event-container {
        padding-bottom: 18px;
        width: 100%;
    }
    .event-container li {
        font-size: 4.27vw;
        padding: 0 0 25px 7%;
        line-height: 1.1;
        margin-right: 10px;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .event-text {
        line-height: 2;
        width: 90%;
    }

    /* ACCESS */

    .access-title {
        margin: 0 auto 10px auto;
        width: 33vw;
    }
    .access-map {
        height: 191px;
    }

    /* FOOTER */
    .footer {
        padding: 0 3%;
    }

    .footer-container {
        display: block;
        padding: 45px 0 45px 0;
    }
    .footer-logo {
        width: 60.3vw;
    }
    .footer-nav {
        margin-left: 0px;
        margin-top: 30px;
    }
    .footer-nav p {
        font-size: 4.75vw;
    }
    .copyright {
        font-size: 4.27vw;
    }

    /* page-top */
    .to-top {
        width: 80px;
        right: 10px;
        bottom: 10px;
    }
}
